
  <h1> Ingresa con tu usuario </h1>
  <form action="/login/validar" method="post">
    <input type="text" name="user" id="user" placeholder="Escribe tu usuario" />
    <input type="password" name="pass" id="password" placeholder="Escribe tu contraseña" />
    <input type="submit" id="enviar-datos" name="boton" value="Enviar" />
  </form>
