<h3>Hola estas el Registro</h3>
<form action="/User/registrar" method="post">
  <input type="email" name="email" value="" placeholder="Ingrese su Correo Electronico">
  <input type="password" name="pass" value="" placeholder="Ingrese su Contraseña">
  <input type="submit" value="Registrarse">
</form>
