<h3>Hola estas el Login</h3>
<form action="/User/validar" method="post">
  <input type="text" name="user" value="" placeholder="Ingrese su Correo Electronico">
  <input type="password" name="pass" value="" placeholder="Ingrese su Contraseña">
  <input type="submit" value="Enviar">
</form>
